.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
  color: #fff;
}

.navbar ul li a.active {
  background-color: #0073e6;
  color: #fff;
  border-radius: 4px;
}