.app {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}

/* Estilos para a seção de Informações Pessoais */
.personal-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.personal-info p {
  margin: 10px 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.personal-info a {
  color: #0073e6;
  text-decoration: none;
}

.personal-info a:hover {
  text-decoration: underline;
}